body {
  min-width: 300px;
}

.topleft {
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topright {
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
}

.introleft {
  background-color: #e7e7e7;
  padding-top: 15px;
  padding-left: 50px;
}

.introright {
  background-color: #f2f2f2;
  padding: 15px;
  display: flex;
  align-items: center;
}

.experienceleft {
  background-color: #f2f2f2;
  padding-top: 15px;
  padding-left: 50px;
}

.experienceright {
  background-color: #d8d8d8;
  padding: 15px;
  padding:
    display: flex;
  align-items: center;
}

.skillsleft {
  background-color: #e7e7e7;
  padding-top: 15px;
  padding-left: 50px;
}

.skillsright {
  background-color: #f2f2f2;
  padding: 15px;
  display: flex;
}

.eduleft {
  background-color: #e7e7e7;
  padding: 15px;
}

.eduright {
  background-color: #d8d8d8;
  padding: 15px;
}

.additionalleft {
  background-color: #f2f2f2;
  padding: 15px;
}

.additionalright {
  background-color: #d8d8d8;
  padding: 15px;
}

.knowledgeleft {
  background-color: #e7e7e7;
  padding: 15px;
}

.knowledgeright {
  background-color: #d8d8d8;
  padding: 15px;
}

.footerleft {
  background-color: #f2f2f2;
  padding: 15px;
}

.footerright {
  background-color: #e7e7e7;
  padding: 15px;
}

.row1 {
  height: 100vh;
}

.photo {
  border-radius: 100%;
  width: 70%;
  transition: transform .2s;
}

.photo:hover {
  transform: scale(1.2);
}

.mar {
  margin-bottom: 0px;
}

.vpav {
  padding-left: 20px;
  margin-bottom: 30px;
}

.pav {
  color: green;
  font-size: 32px;
  margin: 0px;
}

.var {
  color: grey;
  position: relative;
  top: 16px;
  font-size: 32px;
  margin: 0px;
}

.line {
  height: 2px;
  background-color: grey;
}

.line1 {
  height: 5px;
  background-color: yellow;
  max-width: 40% !important;
  margin-bottom: 10px;
}

.topbott {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
}

.bold {
  font-weight: bold;
}

.num {
  color: #ffd147;
}

.topics {
  color: grey;
}

.vertical-line {
  border: 1px solid grey;
  width: 1px;
  height: 100%;
  float: left;
}

.profright img {
  padding-top: 10px;
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

table {
  width: 100%;
}

.table th, td {
  text-align: center;
}

.exp:hover {
  background-color: white;
}

.tablebottom {
  font-size: 14px;
}

.circle {
  width: 16px;
  position: relative;
  right: 9px;
}

.certlogo {
  width: 30px;
}

.cert {
  font-size: 14px;
  color: grey;
}

.softw {
  display: inline-block;
  margin-top: 10px;
  padding: 2px 5px;
  white-space: nowrap;
  background: #eee;
  color: #000;
  border-radius: 5px;
}

/* Scroll button */
.scroll {
  z-index: 99;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
  opacity: 0.5;
  background-color: red;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border-radius: 30px;
  border: none;
}

.scroll:focus {
  outline: 0;
}

.scroll:hover {
  background-color: #555;
}

@media only screen and (max-width: 767.98px) {
  .photo {
    border-radius: 100%;
    width: 50%;
  }

  .vpav {
    align-self: flex-start;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .topright {
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    height: 70%;
  }

  .topleft {
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
  }

  .line3 {
    display: none;
  }

  .photo:hover {
    transform: none;
  }
}